<h1>User Admin</h1>
<div>
<a class="button" (click)="addUser()">add</a></div><br>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td><button type="submit" class="button" (click)="viewUser(user.id)">Show Details</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <app-add-user *ngIf="action==='add'" [user]="selectedUser" (userAddedEvent)="refreshData()"></app-add-user>
        <app-viewuser *ngIf="action==='view'" [user]="selectedUser" (userDeletedEvent)="refreshData()"></app-viewuser>
    </div>
</div>

